.version {
    background-color: green;
    width: 5%;
    margin: auto;
    color: #fff;
}
.map {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #fff;
    box-shadow: 0 4px 20px rgb(0 0 0 / 0.1);
}
.ouvrier {
    width: 100%;
    position: left;
    opacity: 0.1;
}
.logo-proc-container {
    width: 15%;
    margin: 2% auto;
}
.lazy-content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.lazy-content.loaded {
    opacity: 1;
}
.slider_texte_position {
    position: absolute;
    text-align: center;
}
.slider_texte {
    color: #fff;
    font-size: 5vw;
    font-weight: 10;
    line-height: 1.15;
    text-shadow: 2px 2px 5px rgb(0 0 0 / 0.7);
}
.discover {
    font-size: 1vw;
    border-radius: 1px;
    padding: 2% 5%;
    font-weight: 700;
    border: 0.1vw #fff solid;
    color: #fff;
    text-shadow: 2px 2px 5px rgb(0 0 0 / 0.7);
    transition: background-color 0.2s linear, color 0.2s linear;
}
.discover:hover {
    background-color: #fff;
    color: #000;
    text-shadow: none;
}
.test {
    overflow-x: hidden;
}
@media only screen and (min-width: 1000px) {
    .cell-masonry {
        margin: 2%;
        padding: 2% 0 2% 0;
        background-color: whitesmoke;
        box-shadow: 0 4px 8px rgb(0 0 0 / 0.1), 0 6px 20px rgb(0 0 0 / 0.1);
    }
    .slide {
        transform: translateX(200%);
        transition: transform 0.8s ease;
    }
    .slide:nth-of-type(even) {
        transform: translateX(-200%);
    }
    .slide.show {
        transform: translateX(0%);
    }
}
.cell-presentation {
    width: 100%;
    text-align: center;
}
.cell-presentation .texte-title-presentation {
    text-align: center;
    margin: 2%;
    color: grey;
    font-size: 40px;
}
.cell-presentation .texte-auteur {
    width: 56%;
    text-align: left;
    margin: 0% 20%;
    padding: 0% 2%;
}
.description {
    width: 100%;
}
.description-texte {
    margin: 50px 0 50px 0;
    font-size: 24px;
    color: #1f1f1f;
    text-align: center;
}
.descriptionbis {
    text-align: center;
    background-color: lightgray;
    box-shadow: 0 8px 40px rgb(0 0 0 / 0.1);
    padding: 1%;
}
.descriptionbis-texte {
    color: #000;
    text-align: left;
    width: 25%;
    display: inline-block;
}
.descriptionbis-image {
    text-align: center;
    width: 25%;
    display: inline-block;
    margin: 4%;
    box-shadow: 0 8px 40px rgb(0 0 0 / 0.1);
}
.image-presentation-encadre {
    background-color: #fff;
    font-size: 24px;
    height: 100%;
    opacity: 0.8;
}
.image-presentation-encadre-partners {
    /*background-image: url(../Images/assoc.png);*/
    background-repeat: no-repeat;
    background-position: center;
    height: 10vw;
}
@media only screen and (max-width: 1000px) {
    .masonry {
        flex-flow: row wrap;
    }
    .cell-masonry {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
        margin-top: 2%;
        padding: 4% 0;
    }
    .image-presentation-encadre {
        width: 100%;
    }
    .descriptionbis-texte {
        text-align: center;
        width: 100%;
        display: inline-block;
    }
    .descriptionbis-image {
        width: 80%;
        margin: 5%;
    }
}
.image-presentation-encadre-texte {
    padding: 10%;
    color: #505050;
    text-align: center;
}
.cell-presentation .image-auteur {
    /*background-image: url(../Images/agentnaj.jpg);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-box-shadow: -2px -1px 10px 2px #d1d1d1;
    box-shadow: -1px -1px 10px 5px #b0b0b0;
    width: 20%;
    margin: 0% 40%;
    height: 35vw;
}
.cell-presentation .link {
    text-align: center;
    color: #6da7de;
    font-size: 20px;
}
.cell-presentation .article-image {
    margin-left: 4%;
    position: center;
    width: 90%;
    height: 90%;
    transition: all 1s ease;
}
.article-image:hover {
    z-index: 0;
    margin-left: 2%;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    color: #fff;
}
.masonry-brick:hover .text-centered {
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border: 10px solid #000;
    background-color: #000;
}
.masonry {
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    justify-content: center;
}
.masonry-brick {
    width: 20%;
    flex: auto;
    height: 250px;
    min-width: 150px;
    margin: 0 8px 8px 0;
}
.masonry-brick:hover {
    position: relative;
}
.masonry-brick .text-centered {
    display: none;
}
.masonry-brick:hover .text-centered {
    display: initial;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border: 10px solid #000;
    background-color: #000;
}
.masonry-brick:nth-child(4n + 1) {
    width: 250px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 2) {
    width: 325px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 3) {
    width: 180px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 4) {
    width: 380px;
}
@media only screen and (max-width: 700px) {
    .cell-presentation .texte-auteur {
        float: none;
        width: 60%;
        text-align: center;
        padding: 0% 2%;
        margin: 2% 18% 0%;
    }
    .cell-presentation .image-presentation {
        margin-top: 50px;
    }
    .cell-presentation .image-auteur {
        float: none;
        width: 50%;
        height: 87.5vw;
        margin: 0 25%;
    }
}
