.slider {
    font-family: "Roboto", sans-serif;
    color: #010101;
    font-weight: 100;
    max-height: 100vh;
    overflow-y: hidden;
    box-shadow: 0 8px 40px rgb(0 0 0 / 0.1);
}
.slide_slide.active {
    display: block;
    min-width: 100vw;
    width: 100%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.slide_slide {
    display: none;
}
.right-arrow,
.left-arrow {
    opacity: 0.6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 64px;
    height: 64px;
    z-index: 2;
    cursor: pointer;
}
.right-arrow:hover,
.left-arrow:hover {
    opacity: 1;
}
.right-arrow {
    right: 1rem;
}
.left-arrow {
    left: 1rem;
}
.right-arrow::before,
.right-arrow::after,
.left-arrow::before,
.left-arrow::after {
    box-shadow: rgb(0 0 0 / 0.2) 0 12px 28px 0, rgb(0 0 0 / 0.1) 0 2px 4px 0, rgb(255 255 255 / 0.05) 0 0 0 1px inset;
    content: "";
    position: absolute;
    width: 64px;
    height: 16px;
    background-color: #fff;
}
.right-arrow::before {
    transform: rotate(45deg);
}
.right-arrow::after {
    transform: rotate(-45deg);
    bottom: 14px;
}
.left-arrow::before {
    transform: rotate(-45deg);
}
.left-arrow::after {
    transform: rotate(45deg);
    bottom: 14px;
}
.slider::-webkit-scrollbar {
    display: none;
}
.slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
@media screen and (max-width: 720px) {
    .right-arrow::before,
    .right-arrow::after,
    .left-arrow::before,
    .left-arrow::after {
        width: 32px;
        height: 12px;
    }
    .right-arrow::after,
    .left-arrow::after {
        bottom: 16px;
    }
    .right-arrow::before,
    .left-arrow::before {
        top: 20px;
    }
    .right-arrow::before,
    .right-arrow::after {
        right: 0;
    }
}
