<footer>
  <div class="footerbackground">
    <br />
    <br />
    <br />
    <div class=" footerstructureleft">
      <br>
      <div class="logoCenter">
        <figure>
          <a href="#"><img class="logo" src="{{asset('build/images/logos/facebook-logo.png')}}" alt="facebook-logo"></a>
          <figcaption><?= BASE_ENTREPRISE_NAME ?>Face</figcaption>
        </figure>
        <figure>
          <a href="#"><img class="logo" src="{{asset('build/images/logos/instagram-logo.png')}}" alt="instagram-logo"></a>
          <figcaption><?= BASE_ENTREPRISE_NAME ?>Insta</figcaption>
        </figure>
      </div>
    </div>
    <div class="footerstructureright">
      <h4>Contact:</h4>
      <h5><?= BASE_ENTREPRISE_TITLE ?> <?= BASE_ENTREPRISE_TYPE ?></h5>
      <h5>Téléphone: 064/67.32.00</h5>
      <h5>Email: <?= BASE_ENTREPRISE_MAIL ?></h5>
      <h5>TVA : BE0664544624</h5>
      <!-- siège social : Chaussée de Malines 455/1, 1950 Kraainem
siège d'exploitation : Rue des Brasseries 2, 7170 Manage
-->

      <a href="cgu">Lire les conditions générales d'utilisation du site (CGU)</a>
    </div>

    <div style="clear:both;"></div>
    <br />
    <div class="presentation">
      <hr>
    </div>
    <p style="color:darkgrey;text-align:center;">&copy; 2024 <?= BASE_ENTREPRISE_NAME ?>. All rights reserved.</p>
    </h3>
    <br>
  </div>
</footer>